.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/./images/filmcover2.png");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  width: 280px;
  height: 320px;
}

.flip-card-inner {
  position: relative;
  width: 180px;
  height: 269px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 180px;
  height: 269px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: solid 2px #f0c8a4;
  border-radius: 15px;
}

.flip-card-front {
  background-color: transparent;
  color: rgba(0, 0, 0, 0);
}

.flip-card-back {
  background-color: #f0c8a4;
  color: #3e271f;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cardImage {
  width: 177px;
  height: auto;
  border-radius: 12px;
}

.movieTitle {
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.movieDes {
  width: 150px;
  height: 100px;
  font-size: 15px;
  overflow: auto;
}

.movieDes::-webkit-scrollbar {
  display: none;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #3e271f !important;
}

.genre {
  overflow: auto;
  height: 23px;
}
.genre::-webkit-scrollbar {
  display: none;
}

.trailer {
  background-color: #f0c8a4;
  width: 850px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div .fade.modal.show {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
