@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");

.page {
  /* background-image: url("/images/background.jpg");
  background-position: center;
  background-size: contain; */
  background-color: #f0c8a4;
  font-family: "Baloo Tammudu 2", cursive;
  color: #3e271f;
}

.logoBar {
  height: 100px;
  padding: 25px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
  background-color: transparent;
}

.boxSelectBoard {
  width: 100%;
  display: flex;
  justify-content: center;
}

#selectBoard {
  margin: 30px 0;
  width: 90%;
  background-color: #3e271f;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.changePage {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#selectBoard button {
  margin: 0 2px;
  padding: 5px 10px 0px 10px;
  height: 30px;
  border-radius: 20px;
  background-color: #3e271f;
  border: none;
  color: #f0c8a4;
  font-weight: bold;
}
#selectBoard button:focus {
  outline: none;
}

select {
  padding: 0 10px;
  height: 30px;
  border-radius: 20px;
  background-color: #3e271f;
  border: none;
  color: #f0c8a4;
  font-weight: bold;
}
select:focus {
  outline: none;
}

.pageOption {
  margin: 10px 0;
  width: 308px;
  display: flex;
  justify-content: space-between;
}

input {
  height: 30px;
  border: solid 3px #3e271f;
}
input:focus {
  outline: none;
}

.searchSection {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
