@media screen and (min-width: 900px) {
  .banner {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 400px) {
  .banner {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 85vw;
  }
}

.bannerContent {
  padding: 40px 0;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
  color: white;
}

.latestMov {
  width: 40%;
  max-width: 400px;
  border: solid 2px white;
}

.latestInfo {
  padding-top: 20px;
  font-size: 20px;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  overflow: scroll;
  margin-bottom: 10px;
  width: 90%;
}
.info::-webkit-scrollbar {
  display: none;
}

.carouselEdit {
  width: 100%;
}
